/*********************************************/
/*@IMPORTS*/
/*********************************************/
//@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "../bower/foundation/scss/foundation";

/*********************************************/
/*FONTS*/
/*********************************************/

//@include font-face("Arial", "../fonts/Arial/Arial", normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-width: 320px;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
}

a {
  text-decoration: none;
  color: black;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: black;
  }
}

input, input:focus, input:active {
  outline: none;
}

button,
button:active,
button:focus,
button:hover {

  outline: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #000;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  //height: 100vh;
  min-height: 1000px;
  padding: 0;
  margin: 0 !important;
  background: radial-gradient(rgb(48, 61, 85), rgb(47, 51, 82));

}

.wrappen_block {
  position: relative;
  width: 100%;
  height: 100%;

}

.mainBackground {
  width: 100%;
  min-height: 1000px;
  background: url('../img/bgRectangl.png') left center no-repeat,
  url('../img/bgPhons.png') center center no-repeat,
  url('../img/layer-3-copy-2.png') center center no-repeat,
  url('../img/mainBg.png') center center no-repeat;

}

.productCard_block {
  position: relative;
  margin: 190px auto 0;
  //margin-top: 190px;
  max-width: 800px;
  min-height: 600px;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

/* LEFT SIDE */
.productCard_leftSide {
  position: relative;
  width: 100%;
  min-height: 600px;

  /// border: 1px solid red;

}

.productCard_brendBlock {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 184px;
  max-height: 75px;
  background-color: #272727;
  z-index: 2;

  &__imageBlock {
    display: block;
    height: 100%;
    img {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}

.sliderBlock {
  position: relative;

  height: 100%;

  margin-left: 70px;
  margin-top: 89px;
  margin-bottom: 46px;

  //border: 1px solid #000;
  overflow: hidden;

}

.sliderBlock_items {
  position: relative;
  display: block;
  width: 100%;
  height: 403px;

  &__itemPhoto {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
    z-index: 2;
    transition: opacity 1s;

  }
  &__showing {
    opacity: 1;
    z-index: 3;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/decorElements/DecorRectangle.png") 50% 50% no-repeat;
    opacity: 0.2;
    z-index: 4;

  }

}

.sliderBlock_controls {
  width: 100%;
  //border: 1px solid red;

  &__navigatin {
    margin-top: 8px;
    width: 100%;
    //border: 1px solid #0ff;
  }

  &__wrapper {

    margin: 1% auto;
    width: 110px;
    height: 20px;

  }

  ////// ARROWS

  &__arrow {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;

    border: 1px solid $colorBlue;

    transition: 300ms all;
    background-color: $colorBlueDark;
    border-radius: 50%;
    &:hover {
      background-color: $colorBlueLight;
    }

    & i {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      margin-left: -50%;
      margin-top: -50%;

      color: #fff;
      transition: 300ms all;

      font-weight: bold;
      text-align: center;
      font-size: 20px;
    }

    &:hover i {
      //color: $colorBlueDark;
    }
  }

  &__arrowBackward {
    float: left;
  }

  &__arrowForward {
    float: right;
  }
}
  //////////POSITION Controls

  .sliderBlock_positionControls {

    display: block;
    width: 100%;
    height: 3px;
    margin: 30px auto 0;
    //border: 1px solid red;

    &__paginatorItem {
      float: left;

      width: 18px;
      height: 10px;
      margin-left: 5px;
      background-color: #D7D7D7;
      cursor: pointer;

      &:first-child {
        margin-left: 31%;
      }
    }
    &__active {
      background-color: $colorBlue;
    }

  }

  /*   RIGHT SIDE */
  .productCard_rightSide {
    position: relative;

    padding-top: 34px;
    padding-left: 27px;
    padding-right: 40px; ///////////////

    width: 100%;
    min-height: 600px;
    //border: 1px solid red;
  }

  .block_specification {
    float: right;
    margin-top: 8px;
    cursor: pointer;
    color: $colorBlueLight;
    transition: all 0.5s;
    
    &__button {
      display: inline-block;
      margin-right: 7px;
      height: 100%;
      font-size: 17px;
      text-transform: uppercase;
      transform: rotate(0);
      transition: transform 0.5s;
      transform-origin: center center;

    }
    &:hover &__button__rotate{
      transition: transform 0.5s;
      transform: rotate(1turn);
    }
    &:hover{

      color: $colorRaspberry;
    }
    
  }

.block_specification__text{
  width: 30px;
  height: 11px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.block_specification__specificationShow{

}
.block_specification__informationShow{

}






  .block_model {
    display: inline-block;
    color: #263238;
    font-size: 12px;
    //line-height: 35px;
    opacity: 0.9;
  }

  .block_name {
    width: 100%;
    color: #263238;
    font-weight: 400;
    line-height: 35px;

    &__mainName {
      margin: 0;
      padding: 0;
      font-size: 29px;
    }
    &__addName {
      margin: 0;
      padding: 0;
      font-size: 24px;
    }
  }

  .block_product {
    position: relative;
    width: 100%;

    

    &__advantagesProduct {
      width: 271px;
      height: 41px;
      margin-top: 14px;
      color: #646b6f;
      font-size: 17px;
      line-height: 24px;
    }

    &__link {
      line-height: 23px;
      color: $colorBlueLight;
    }

  }


.block_informationAboutDevice{
  position: relative;
  width: 100%;
  overflow: hidden;

}



.block_descriptionInformation {
    width: 304px;
    height: 104px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #263238;
  }



.block_descriptionCharacteristic{
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index:30;

  transition: left, ease-out, 0.5s;

  &__active{
    left: 0;
  }
}

@keyframes moveCharackeristic {
  0%{
    left: 100%;
  }
  100%{
    left: 0;
  }
}


.block_specificationInformation_table {
  position: relative;
  height: 99.9%;
  background-color: $colorBackground;

  tr{
    border-collapse: collapse;
    border: 1px solid #000;
  }
  th{
    border: 1px solid #000;
    font-weight:bold;
  }

  td{
    border-collapse: collapse;
    text-align: center;
    //height: calc(100% / 10.8);
    border: 1px solid #000;
  }

}





  // RATING

  .block_rating {

    width: 100%;
    margin-top: 33px;
  }

  fieldset, label {
    margin: 0;
    padding: 0;
  }
  .block_rating__stars {
    border: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
  }
  input[type="checkbox"] + label, input[type="radio"] + label {
    margin: 0;
  }
  .block_rating__stars > input {
    display: none;
  }
  .block_rating__stars > label:before {
    margin: 5px;
    font-size: 15px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }

  .block_rating__stars > .half:before {
    content: "\f089";
    position: absolute;
  }

  .block_rating__stars > label {
    color: #c9c9c9;
    float: right;
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  .block_rating__stars > input:checked ~ label, /* show gold star when clicked */
  .block_rating__stars:not(:checked) > label:hover, /* hover current star */
  .block_rating__stars:not(:checked) > label:hover ~ label {
    color: #fccf47;
  }
  /* hover previous stars in list */

  .block_rating__stars > input:checked + label:hover, /* hover current star when changing rating */
  .block_rating__stars > input:checked ~ label:hover,
  .block_rating__stars > label:hover ~ input:checked ~ label, /* lighten current selection */
  .block_rating__stars > input:checked ~ label:hover ~ label {
    color: #FFED85;
  }

  .block_rating__avarage {
    margin-left: 31px;
    color: $colorRaspberry;
    font-size: 15px;
    line-height: 35px;
  }

  .block_rating__reviews {
    margin-left: 6px;
    color: #656c6f;
    font-size: 13px;
  }

  //////// PRICE

  .block_price {
    margin-top: 29px;
    width: 100%;
    &__currency {
      padding: 0;
      margin: 0;
      vertical-align: top;
      color: $colorRaspberry;
      font-size: 26px;
      font-weight: 600;
    }
    &__shipping {

      padding: 0;
      margin: 0;
      color: #A2A9AD;
      font-size: 12px;
    }
  }

  //////// CHOOSE COLOR

  .block_goodColor {
    margin-top: 29px;
    width: 100%;

    &__allColors {
      width: 100%;
      margin-top: 14px;

    }
    &__color {
      display: inline-block;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      margin-left: 20px;
      background-color: #e8e6e3;
      cursor: pointer;
    }
    &__active {
      width: 25px;
      height: 25px;
      box-shadow: 0 0 5px 3px rgba(83, 109, 254, 0.5);
      border: 2px solid #fff;
      background-color: #3c383a;
    }

  }

  .text_specification {
    padding: 0;
    color: #37474f;
    font-size: 13px;
  }

  //input[type="text"] {
  //  width: 52px;
  //}

  .block_quantity {
    position: relative;
    height: 46px;
    margin-top: 45px;
    //border: 1px solid #f00;

    span {
      display: inline-block;
      float: left;
      margin-top: 15px;
      margin-right: 10px;
    }

    &__chooseBlock {

      vertical-align: top;
      height: 100%;

      margin: 0;
      padding: 0;
    }
    &__number {
      display: inline-block;
      float: left;
      width: 52px;
      height: 46px;
      //padding: 16px 17px;
      border: 1px solid #ddd;
      font-size: 18px;

      &::placeholder {
        color: #403f40;
        font-size: 18px;
        line-height: 35px;
      }
    }
    &__button {
      display: inline-block;
      position: relative;
      float: left;
      width: 20px;
      height: 50%;
      margin: 0;
      padding: 0;
      margin-left: 11px;
      font-size: 0;
      //border: 1px solid red;

      &:hover,
      &:focus {
        background-color: transparent;
        &:before {
          color: $colorBlueLight;
        }
      }
    }
    &__up {
      &:before {
        content: "\f106";
        width: 11px;
        height: 6px;
        font-family: "FontAwesome";
        color: #37474f;
        font-size: 18px;
      }
    }
    &__down {
      &:before {
        content: "\f107";
        width: 11px;
        height: 6px;
        font-family: "FontAwesome";
        color: #37474f;
        font-size: 18px;
      }
    }

  }

  // ADD to CARD

  .button.button_addToCard {
    width: 147px;
    height: 46px;
    margin-top: 43px;
    margin-bottom: 0;
    padding: 0;
    color: #fff;
    background-color: $colorBlueLight;
    font-size: 17px;

  }

  /*********************************************/
  /*FOOTER*/
  /*********************************************/

  @import "sections/footer";

  /*********************************************/
  /*@IMPORT MEDIA*/
  /*********************************************/

  @import "helpers/media";
